@charset "UTF8";
/*font*/
@font-face {
   font-family: 'nexon-r';
   font-style: normal;
   font-weight: 400;
   src: url(/font/NEXON-Lv1-Gothic-OTF.woff) format('woff'),
        url(/font/NEXON-Lv1-Gothic-OTF.otf) format('opentype');
}
@font-face {
    font-family: 'nexon-b';
    font-style: bold; 
    font-weight: 700;
    src: url(/font/NEXON-Lv1-Gothic-OTF-Bold.woff) format('woff'),
        url(/font/NEXON-Lv1-Gothic-OTF-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/font/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('/font/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/font/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/font/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('/font/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('/font/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
         url('/font/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/font/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/*공통사항*/
*{margin: 0; padding: 0; box-sizing: border-box;font-family: 'nexon-r';}
html, body {overflow-x:hidden; background-color: #fff;}
a{text-decoration: none; outline: 0;}
ul,li{list-style-type: none;}
.mo_block{display: none;}
.mo_none{display: block;}
.inline{display: inline;}
.dpIB{display: inline-block; width: auto; vertical-align: middle;}
.inner{width: 1100px;}
img{display: block; width: 100%;}
body{font-size: 16px; color: #333333;}
#container{position: relative; width: 100%;}
.transXY{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1;}
.transX{position: absolute; left: 50%; transform: translateX(-50%);}
.transY{position: absolute; top: 50%; transform: translateY(-50%);}
.c_blue{color: #3b91f2;}

/*section*/
.sec{position: relative; top: 0; left: 0;width: 100%;font-size: 0;}
.sec_bg{overflow: hidden; width: 100%;max-width: 2560px; min-width: 1903px; margin: 0 auto;position: relative; left: 50%; transform: translateX(-50%);}

/*header*/
#header {height: 60px; line-height: 60px; display: flex; justify-content: space-between;}
#header div{margin: 0px 17px;}
#header p{font-size: 18px;}
#header b{font-size: 24px;}

/*footer*/
#footer{background-color: #efefef; text-align: center; padding: 30px 0;}
#footer img{width: 514px; margin: 0 auto; margin-bottom: 20px;}
#footer p{color: #666666; font-size: 14px;}
#footer p:last-child{color: #999;}

@media screen and (max-width: 1300px){
    .inner{width: 84.6154vw;}

    /*footer*/
    #footer{background-color: #efefef; text-align: center; padding: 2.3077vw 0;}
    #footer img{width: 39.5385vw; margin: 0 auto; margin-bottom: 1.5385vw;}
    #footer p{color: #666666; font-size: 1.0769vw;}
    #footer p:last-child{color: #999;}
}

@media screen and (max-width: 768px){

    /*footer*/
    #footer{background-color: #efefef; text-align: center; padding: 8.3333vw 0;}
    #footer img{width: 88.8889vw; margin: 0 auto; margin-bottom: 6.9444vw;}
    #footer p{color: #666666; font-size: 3.3333vw; line-height: 4.4444vw;}
    #footer p:last-child{color: #999; font-size: 2.7778vw;}
}